$sans-serif-article: 'Nunito', sans-serif;
$sans-serif-article-2: 'Varela Round', sans-serif;

$accent-color: #993404;
$accent-secondary: #e34a33;
$nav-height: 50px;

$light-gray: transparentize($base-font-color, .6);
