<header class="navigation">
  <a href="/" class="logo" title="home.">
    <img src="/static/compcell_v2.png" alt="home.">
  </a>
  <nav>
    <ul>
      <li><a href="/">interests <b>&#183;</b></a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">projects <b>&#183;</b></a>
        <div class="dropdown-content">
          <a href="/projects/concrete">concrete <b>&#183;</b></a>
          <a href="/projects/stem_cells">stem cells <b>&#183;</b></a>
          <a href="/projects/nanocomposites">nanocomposites <b>&#183;</b></a>
        </div>
      </li>
      <li><a href="/resume">resume <b>&#183;</b></a></li>
      <!-- <li class="no-bullet"><a href="/atom.xml">rss</a></li> -->
    </ul>
  </nav>
</header>
