<div> Online stalking available at:
  <a title="mvassaux on Github" href="http://github.com/mvassaux/" target="_blank"><i class="fa fa-github-alt"></i></a>
  <a title="mvassaux on LinkedIn" href="https://www.linkedin.com/in/maxime-vassaux-86400159/" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a title="mvassaux on Google Scholar" href="https://scholar.google.fr/citations?user=YuBmBjIAAAAJ&hl=en" target="_blank"><i class="fa fa-graduation-cap"></i></a>
  <a title="mvassaux on ResearchGate" href="https://www.researchgate.net/profile/Maxime_Vassaux" target="_blank"><i class="fas fa-microscope"></i></a>
  <a title="mvassaux on Twitter" href="https://twitter.com/mxvassaux" target="_blank"><i class="fa fa-twitter"></i></a>
</div>
