<div> Online stalking available at:
  <a title="mvassaux on Github" href="http://github.com/mvassaux/"><i class="fa fa-github-square"></i></a>  
  <a title="mvassaux on LinkedIn" href="https://www.linkedin.com/in/maxime-vassaux-86400159/"><i class="fa fa-linkedin-square"></i></a>
  <a title="mvassaux on Google Scholar" href="https://scholar.google.fr/citations?user=YuBmBjIAAAAJ&hl=en"><i class="fa fa-graduation-cap"></i></a>
  <a title="mvassaux on ResearchGate" href="https://www.researchgate.net/profile/Maxime_Vassaux"><i class="fa fa-book"></i></a>
</div>
