---
layout: default
---

{% include header.html %}

<article>
  <h1 class="title">
    {{ page.title }}
  </h1>

  {% assign tag_count = page.tags | size %}
  <p class="subtitle">
    {% if page.subtitle %}
      <span>{{ page.subtitle }}</span>
    {% elsif tag_count == 0 %}
      <span>{{ page.date | date: "%B %d, %Y" }}</span>
    {% else %}
      <span>
        {% if tag_count > 0 %}
          Series:
          {% for sn in page.tags %}
            {% if forloop.last %}
              <a href="/#{{ sn }}">{{ sn | replace: "_", " " }}</a>
            {% else %}
              <a href="/#{{ sn }}">{{ sn | replace: "_", " " }}</a>,
            {% endif %}
          {% endfor %}
        {% else %}
          &nbsp;
        {% endif %}
      </span>

      <span class="date">
        {{ page.date | date: "%B %d, %Y" }}
      </span>
    {% endif %}
  </p>

  <div id="post">{{ content }}</div>

  {% unless page.skip_footer %}
    <hr class="fin"/>
  {% endunless %}
</article>

{% unless page.skip_footer %}
  {% include footer.html %}
{% endunless %}

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
